<div class="catalogue-card catalogue-card-half" onclick="location.href='{{ post.url | prepend: site.baseurl }}';">
  <div clsas="catalogue-media">
    {% if post.hero_image %}
    <div class="catalogue-heightcrop" style="background-image: url('{{ site.baseurl}}/{{ post.hero_image }}');"></div>
    {% endif %}
  </div>
  <div class="catalogue-card-content">
    {% if post.sticky == 'true' %}
    <span class="catalogue-pinned">
      Pinned
      <!-- &middot; -->
    </span>
    {% endif %}
    <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>
  </div>
</div>
