<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <!-- <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li> -->
      <!-- <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li> -->
      <li><a href="{{ '/research | prepend: site.baseurl }}">Research</a></li>
      <li><a href="{{ '/education' | prepend: site.baseurl }}">Education</a></li>
      <li><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a></li>
      <li><a href="{{ '/experience' | prepend: site.baseurl }}">Experience</a></li>
      <li><a href="{{ '/skills' | prepend: site.baseurl }}">Skills</a></li>
    </ul>
  </div>
</nav>
