---
layout: default
---

<br/><br/>

<h1 class="post-title">Yijun Li</h1>

<img src="YijunLi-square.jpg" style="border-radius: 50%; width: 200px; margin: 0 auto; display: block;" />

I'm a genetic epidemiologist with 8+ years of research involvement in large-scale cohorts and biobanks
and 5+ year of specialized experience in analyzing high-throughput genomic data.
I am a dedicated researcher passionate about utilizing population-level multi-omics data
to gain insights into the underlying mechanisms of complex diseases,
with the goal of identifying potential therapeutic targets. 
