---
layout: default
---

<br/><br/>

<div class="post">
    
    <h1 class="post-title">Yijun Li</h1>
    
    <img src="YijunLi-square.jpg" style="border-radius: 50%; width: 200px; margin: 0 auto; display: block;" />
    
<br/><br/>

I am ...

<p>... a dedicated researcher passionate about utilizing population-level multi-omics data to gain insights into the underlying mechanisms of complex diseases, with the goal of identifying potential therapeutic targets.</p>

<p>... a genetic epidemiologist with 7+ years of research involvement in large-scale cohorts and biobanks and 5+ year of specialized experience in analyzing high-throughput genomic data.
</p>
<p>... currently a Postdoctoral Research Fellow at the Program for Genetic Epidemiology and Statistical Genetics at Harvard T.H. Chan School of Public Health (Supervisor: Liming Liang).
</p>
<p>
  ... an avid tennis player.
</p>

I can be reached at
<ul>
    <li><a href="https://www.linkedin.com/in/yijun-li-08a128111/">LinkedIn</a>,</li>
    <li>and my office in Room 202, Building 2, 677 Huntington Ave, Boston.</li>
</ul>

</div>